<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMG!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header class="header">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="/?squad=squad-a-2022">Squad A</a></li>
        <li class="header__item"><a href="/?squad=squad-b-2022">Squad B</a></li>
        <li class="header__item"><a href="/?squad=squat-c-2022">Squat C</a></li>
      </ul>
    </nav>
  </header>

  <main>
  
